body
{
    margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	background-color: #272425;
}

h1 {
	color: #bbb;
	padding-top: 25px;
	padding-left: 10px;
}

small {
	font-size: small;
	padding-left: 15px;
}

.cover {
	width: 100%;
	height: 100%;

	text-indent: 100%;
  	/*white-space: nowrap;
  	overflow: hidden;*/

	filter: blur(15px);
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);	
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

	position: absolute;
	z-index: 0;
}

.tiles {
	position: relative;
	z-index: 10;
	height: 20px;
}

.tile {
	position: absolute;
	width: 250px;
	height: 250px;
	float: left;
	background-color: #fff62f;
	margin: 10px;
	border-radius: 5px;
	
	text-align: center;
	vertical-align: middle;
	line-height: 250px;
	font-size: 30px;
	font-weight: bold;
}

.handle {
	background-color: black;
	/*height: 20px;*/
	cursor: move;
}

.drag-ghost {
	z-index: 0;
	opacity: 0.2;
}

.dragging { 
	opacity: 0.7; 
	z-index: 9999;
}

.large-tile {
	height: 520px;
	width: 520px;
	background-color: #30caff;
	line-height: 520px;
}

.medium-tile {
	height: 250px;
	width: 520px;
	background-color: #05ff85;
}

.medium-2-tile {
	height: 520px;
	width: 250px;
	background-color: #ff9342;
	line-height: 520px;
}

.mobile-tile
{
	position: relative;
	float: none;
	height: 250px;
	width: auto;

	line-height: 250px;
}

/*
#7f36e1
#fff62f
#30caff
#6b7ff5
#05ff85
#ff9342
 */
